<?xml version="1.0"?>

<model>
  <name>uwb_twr_anchor</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Roland Jung</name>
    <email>roland.jung@aau.at</email>
  </author>

  <description>
    An example uwb_twr_anchor instance with unique id 999. ID might be changed via http://sdformat.org/tutorials?tut=param_passing_proposal#example-1
  </description>
</model>
